# Sqlite3 Database
### Connect to Database
If database doesn't exist, a new one will be created.

In [1]:
import sqlite3
conn = sqlite3.connect('mydatabase.sqlite')
cursor = conn.cursor()
print("Opened database successfully")

Opened database successfully

### Create Table

In [2]:
cursor.execute('''CREATE TABLE SCHOOL
            (ID INT PRIMARY KEY NOT NULL,
            NAME TEXT NOT NULL,
            AGE INT NOT NULL,
            ADDRESS CHAR(50),
            MARKS INT);''')

cursor.close()

### Add Data to table

In [4]:

cursor = conn.cursor()
cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (1, 'Rohan', 14, 'Delhi', 200)");
cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (2, 'Allen', 14, 'Bangalore', 150 )");
cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (3, 'Martha', 15, 'Hyderabad', 200 )");
cursor.execute("INSERT INTO SCHOOL (ID,NAME,AGE,ADDRESS,MARKS) \
      VALUES (4, 'Palak', 15, 'Kolkata', 650)");
conn.commit()
conn.close()

OperationalError: no such table: SCHOOL